@model WebProject.Filters.CustomExceptionFilter

@{
    ViewBag.Title = "CustomError";
}

<h2></h2>

<div>
    <hr />
    An error occured! Please try again.

</div>
<p>
    @Html.ActionLink("Back to Dashboard", "Authenticate", "Placements")
</p>
